/* main */
main {
  box-sizing: border-box;
  margin-top: 0;
}

main .tpau {
  background-image: url(/asset/aboutus/typogra.jpg);
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .tpau h1,
.tpau h2 {
  line-height: 10px;
  z-index: 99;
}

/* color for typo h1 and waus & vm span */
main .org {
  color: #e87c01;
}

main .tpau h2 {
  color: #fafafa;
}

/* waus */
main .waus {
  display: flex;
  /* width: 1243px; */
  padding: 0 30px;
  margin: auto;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

/* vm */
main .vm {
  margin: 50px 0 150px 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "h1 h1"
    "vmtext vmimg";
  place-items: center center;
}

.vm h1 {
  grid-area: h1;
  margin-left: -140px;
}

.vm .vmtext {
  grid-area: vmtext;
}

.vm .vmtext .visi {
  margin-bottom: 30px;
}

.vm .vmimg {
  grid-area: vmimg;
}

/* profile */
main .usprofiles {
  width: 1000px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usprofiles h1 {
  text-align: center;
  margin-bottom: 40px;
}

.usprofiles h2 {
  text-align: center;
  margin-bottom: 20px;
}

.usprofiles .team {
  margin-bottom: 40px;
}

.usprofiles .team .members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.usprofiles .members .member {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;
}

.usprofiles .members .member img {
  width: 100%;
}
