/* hero */
.heroblog {
  height: 570px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url(/asset/blog/section.jpg);
  /* background-position: 0 -180px; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.heroblog h1,
.text20 {
  line-height: 0.1;
  color: #fafafa;
}

/* searchbar */
#search-bar {
  width: 80%;
  max-width: 576px;
  padding: 10px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

/* blog card */
.blog-container {
  width: 90%;
  /* min-width: 576px; perlu diperbaiki */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.article-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.article-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.article-card h2 {
  font-size: 1.5em;
  margin: 10px;
}

.article-card p {
  margin: 0 10px 10px;
  color: #555;
}

.article-card {
  cursor: pointer;
  transition: transform 0.3s;
}

.article-card:hover {
  transform: scale(1.02);
}
