* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red !important; */
}
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #fafafa;
  color: #111111;
  position: relative;
}
/* text style */
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
.lifestox span {
  color: #e87c01;
}

/* font size */
h1 {
  font-size: 2.5rem; /* setara dengan 40px */
  line-height: 2.5rem; /* setara dengan 40px */
  margin-bottom: 2.1rem; /* setara dengan 35px */
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1.1rem;
  line-height: 2.1rem;
}
.navbar ul li a {
  font-size: 1.5rem; /* setara dengan 25px */
}
.text25 {
  font-size: 1.56rem; /* setara dengan 25px */
}
.text20 {
  font-size: 1.25rem; /* setara dengan 20px */
}
.text15 {
  font-size: 0.85rem;
}
.text12 {
  font-size: 0.75rem; /* setara dengan 12px */
  line-height: 1.25rem; /* setara dengan 20px */
}
.text10 {
  font-size: 0.6rem; /* setara dengan 10px */
  line-height: 1.1rem; /* setara dengan 18px */
}

/* nav */
header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  background-color: #fafafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header .logo a img {
  height: 65px;
}
.navbar ul {
  display: flex;
}
.navbar li {
  margin: 0 7px;
}
.navbar ul li a {
  display: block;
  transition: 0.2s;
}
.navbar ul li a:hover {
  color: #e87c01;
}
.navbar ul a {
  color: #111111;
}
/* hamburger */
header .hamburger {
  display: none;
}

/* footer */
footer {
  margin: auto;
  display: grid;
  background: #ffd98c;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "ftssm ftteam ftservice ftcontactus"
    "ftcopyright ftcopyright ftcopyright ftcopyright";
}
footer h2 {
  font-size: 30px;
}
footer p {
  font-size: 18px;
}
/* ft item */
.ftbox {
  padding: 20px;
  place-self: start center;
}
.ftbox a,
.ftbox p {
  text-decoration: none;
  color: #111111;
}
.ftlogo img {
  width: 180px;
}
.ftssm {
  grid-area: ftssm;
}
.ftteam {
  grid-area: ftteam;
}
.ftservice {
  grid-area: ftservice;
}
.ftcontactus {
  grid-area: ftcontactus;
}
.ftcontactus .contact {
  display: flex;
  align-items: center;
}
.ftcontactus .contact img {
  margin-right: 6px;
  height: 21px;
}
.ftcopyright {
  grid-area: ftcopyright;
}

@media (max-width: 900px) {
  header {
    padding: 12px 30px;
  }
  header .logo a img {
    height: 40px;
  }
  header .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #111111;
    margin: 6px 0;
    transition: 0.3s;
  }
  .hamburger .line:nth-child(2) {
    width: 20px;
    background: #111111;
    height: 3px;
    margin-left: 10px;
  }
  /* hamburger x */
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .line:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
  }
  .hamburger.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
  }
  .navbar {
    height: 0;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fafafa;
    z-index: 999;
    transition: 0.5s;
    overflow: hidden;
  }
  /* onclick */
  .navbar.active {
    height: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .navbar ul {
    display: block;
    width: fit-content;
    margin: 60px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .navbar.active ul {
    opacity: 1;
  }
  .navbar ul li a {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

@media (max-width: 480px) {
  /* font size */
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 16px;
  }
  p,
  .text10,
  .text12,
  .text15,
  .text20 {
    font-size: 13px;
    line-height: 1.5;
  }
  /* footer */
  footer {
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "ftssm ftssm" "ftteam ftservice" "ftcontactus ftcontactus"
      "ftcopyright ftcopyright";
  }
}
