/* main */
main {
  box-sizing: border-box;
}
main .box {
  padding: 2% 7%;
  margin: 5% auto;
}

/* intro */
main .introh {
  display: flex;
  align-items: center;
}
main .introhimg {
  height: 432px;
}

/* why */
main .why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
main .why h1 {
  text-align: center;
  margin-bottom: 110px;
}
main .why .whyitem {
  display: flex;
  justify-content: space-between;
}
main .why .whyitembox {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: #ebeaea;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  margin: 10px;
  width: 390px;
  padding: 50px 25px;
}
main .why .whyitembox .witext {
  margin-top: 35px;
}
main .why .whyitembox .wimg {
  height: 115px;
  margin: auto;
  position: absolute;
  top: 110px;
  object-fit: contain;
}

/* fitur */
main .fitur {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .fitur .fiturtitle {
  text-align: center;
  margin-bottom: 30px;
}
main .fitur .fiturlist {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: center;
}
main .fiturlist .fiturbox {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
main .fiturbox h2 {
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.1;
}
main .fiturbox p {
  text-align: justify;
  line-height: 1.3;
  font-size: 14px;
  margin-bottom: 15px;
}
main .fiturlist .fiturbox img {
  width: 280px;
  height: auto;
  margin-bottom: 15px;
  align-self: center;
}

/* ben */
main .ben {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main .benlist {
  background-color: #e0d9d3;
  /* border-top: 2px solid;
  border-bottom: 2px solid; */
  margin-bottom: 20px;
  padding: 30px;
  text-align: justify;
}
/* testimoni */
main .testimoni {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #678551;
  background-image: url(/asset/Home/testimonimg.jpeg);
  background-size: cover;
  color: #fff;
  margin-bottom: 0;
}
.testimonial-section {
  background-color: #6b7241;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.testimonial-section h2 {
  font-size: 24px;
  color: #ffe28a;
  margin-bottom: 20px;
}
.testimoniwrap {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.testimonials {
  display: flex;
  animation: scroll 10s linear infinite;
  -webkit-animation: scroll 10s linear infinite;
}
.testimonial {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #6b7241;
  /* border-radius: 10px; */
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  border: 3px solid #ffe28a;
}
.testimonial-content {
  text-align: left;
}
.testimonial p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}
.testimonial .author {
  font-size: 14px;
  color: #ffe28a;
}
.testimonial .position {
  font-size: 12px;
  color: #c5c6b5;
}

/* focus */
main .focus {
  display: flex;
  background-color: #e87c01;
  flex-direction: row;
}
main .focus .focusimg {
  height: 788px;
}
main .focustext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px;
}
main .focustextbox {
  margin: 20px 20px;
}

/* news */
main .news {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
main .news .nwrap {
  margin-bottom: 25px;
}
main .news .newsitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.news .newsitem {
  width: 25%;
  background-color: #f2f2f2;
}
.news .newsitem h2 {
  padding: 10px;
  text-align: start;
}
.news .newsitem img {
  width: 100%;
  height: 240px;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}
main .news .newsbtn .nbtn {
  display: inline-block;
  background-color: #ffad02;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.news .newsbtn .nbtn:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  cursor: pointer;
  background-color: #cc6f01;
}
.news .newsbtn a {
  text-decoration: none;
  color: #f2f2f2;
}

/* hk */
main .hk {
  background-color: #ffe5ad;
  /* width: 100%; */
  height: 80vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hk .hkwrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.hk .hktepa {
  width: 560px;
}
.hk .hkitems {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hk .hkitems img {
  margin-top: -22px;
  height: 390px;
}
.hk .hkitems .hkbtn a {
  margin-top: 20px;
  display: inline-block;
  background-color: #ffad02;
  color: #f2f2f2;
  padding: 10px;
  text-decoration: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.hk .hkitems .hkbtn a:hover {
  transform: scale(1.05);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  background-color: #cc6f01;
}

/* tpb */
main .tpb {
  background: linear-gradient(to right, #e87c01 28%, #ffad02, #ffe5ad),
    url("/asset/Home/tp.png");
  background-size: cover;
  background-blend-mode: overlay;
  height: 313px;
  font-family: "Fira Code", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tpb .tpbwrap .circles {
  display: flex;
}
.tpb .tpbwrap .circle {
  width: 20px;
  height: 20px;
  background-color: #ffe28a;
  margin-right: 12px;
  border-radius: 2px 8px 1px;
  -webkit-border-radius: 2px 8px 1px;
  -moz-border-radius: 2px 8px 1px;
  -ms-border-radius: 2px 8px 1px;
  -o-border-radius: 2px 8px 1px;
}
.tpb .tpbwrap h1 {
  color: #f2f2f2;
}
