.articlewrap {
  display: flex;
  flex-wrap: wrap;
}
/* main article */
.articlewrap .article-section {
  /* max-width: 800px; */
  flex: 2.5;
  margin: 40px auto;
  padding: 20px;
  background-color: #fafafa;
  line-height: 1.6;
}

.article-section h1 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.3;
}

.article-section img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.article-info {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

.article-section p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}

.article-section p:last-child {
  margin-bottom: 0;
}

/* side artikel */
.articlewrap .preview-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* float: right; */
  /* background-color: #694343; */
  margin: 40px auto;
  padding: 25px;
  line-height: 1.6;
  /* border: 1px solid #ddd; */
}

.preview-box h1 {
  font-size: 1.5rem;
}

.preview-box ul {
  list-style: none;
  padding: 0;
}

.preview-box li {
  /* margin-bottom: 10px; */
  /* background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)); */
}

.preview-box li a {
  padding: 20px;
  text-decoration: none;
  color: #6e6e6e;
}

.preview-box li a:hover {
  text-decoration: underline;
}

.preview-box li img {
  width: 140px;
  height: 90px;
  float: left;
  margin: 26px 12px 12px 0;
  border-radius: 5px;
}
.preview-box h3 {
  font-size: 18px;
}
.preview-box p {
  font-size: 14px;
  line-height: 1.5;
}
.preview-box h3,
p {
  display: -webkit-box;
}
